{% extends 'website/base.html' %}
{% block container %}
    <div class="header text-center">
        <h3 class="title">Barbearia Lucas Pontes</h3>
        <small class="category">Siga nosso perfil no
            <a target="new" href="https://www.instagram.com/barber_pontes/">Instagram</a>.
        </small>
    </div>
    <br />
    <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
            <div class="card card-calendar">
                <div class="card-body ">
                    <div id="fullCalendar"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ block.super }}
<link href='../static/website/assets/js/teste/fullcalendar.min.css' rel='stylesheet' />
<link href='../static/website/assets/js/teste/fullcalendar.print.min.css' rel='stylesheet' media='print' />
<script src='../static/website/assets/js/teste/moment.min.js'></script>
<script src='../static/website/assets/js/teste/jquery.min.js'></script>
<script src='../static/website/assets/js/teste/fullcalendar.min.js'></script>
<script src='../static/website/assets/js/teste/locale/pt-br.js'></script>

    <script src='../static/website/assets/locale/pt-br.js'></script>
    <script>
    $(document).ready(function() {
        function initFullCalendar() {
            $calendar = $('#fullCalendar');

            today = new Date();
            y = today.getFullYear();
            m = today.getMonth();
            d = today.getDate();

            $calendar.fullCalendar({
                monthNames: [
                    'Janeiro', 'Fevereiro', 'Março', 'Abril', 'Março', 'Junho', 'Julho',
                    'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'
                ],
                header: {
                    left: 'title',
                    center: 'month,agendaWeek,agendaDay',
                    right: 'prev,next,today'
                },
                defaultDate: today,
                selectable: true,
                selectHelper: true,
                // titleFormat: {
                //     month: 'MMMM YYYY', // September 2015
                //     week: "MMMM D YYYY", // September 2015
                //     day: 'D MMM, YYYY'  // Tuesday, Sep 8, 2015
                // },
                views: {
                    // week:{ titleFormat: "DD MMMM YYYY" },
                    monthmonth: {
                        titleFormat: 'MMMM YYYY'
                    }, // September 2015
                    week: {
                        titleFormat: "MMMM D YYYY"
                    }, // September 2015
                    day: {
                        titleFormat: 'D MMM, YYYY'
                    }, // Tuesday, Sep 8, 2015
                locale: 'pt',
                },
                select: function (start, end) {

                    // on select we show the Sweet Alert modal with an input
                    swal({
                        title: 'Agendamento',
                        html:
                            '<form method="POST" action="agenda/create">' +
                            '{% csrf_token %}'+
                            '<div>' +
                            '<input type="date" name="data"  placeholder="data" class="form-control" required />' +
                            '<br><input type="time" name="hora_inicio"  placeholder="Hora" class="form-control" required />' +
                            '<br><select class="form-control" name="cabeleireiro" required>\n' +
                            '<option value="" selected disabled>Selecione um Cabeleireiro</option>' +
                            '{% for cabele in cabeleireiros %}'+
                                '        <option value="{{cabele.id}}">{{cabele.nome}}</option>\n' +
                            '{% endfor %}'+
                            '    </select>' +
                            '<br><select class="form-control" name="cliente" readonly>\n' +
                            '<option selected="selected" value="{{user.cliente.id}}">{{user.cliente.nome}}</option>' +
                            '</select>' +
                            '<br><select class="form-control" name="produto">\n' +
                            '<option value="" selected disabled>Selecione um Produto</option>' +
                            '{% for prod in produtos %}'+
                                '        <option value="{{prod.id}}">{{prod.nome}}</option>\n' +
                            '{% endfor %}'+
                            '    </select>' +
                            '<br><select multiple class="form-control" name="servico" required>\n' +
                            '<option value="" selected disabled>Selecione um Serviço</option>' +
                            '{% for serv in servicos %}'+
                                '        <option value="{{serv.id}}">{{serv.nome}}</option>\n' +
                            '{% endfor %}'+
                            '    </select>' +
                             '</div>' +
                            '<br><div>' +
                            ' <br><button class="btn btn-success" type="subimit">'+
                            '</span>Cadastrar Agendamento'+
                            ' </button>'+
                            '</div>' +
                            '</form>',

                        showCancelButton: true,
                        closeOnConfirm: true
                    }, function () {

                        var eventData;
                        event_title = $('#start').val();

                        if (event_title) {
                            eventData = {
                                title: event_title,
                                start: start,
                                end: end
                            };
                            $calendar.fullCalendar('renderEvent', eventData, true); // stick? = true
                        }

                        $calendar.fullCalendar('unselect');

                    });
                },
                editable: true,
                eventLimit: true, // allow "more" link when too many events


                // color classes: [ event-blue | event-azure | event-green | event-orange | event-red ]
                eventSources: [
                    {
                        url: '{% url 'website:get-data' %}',
                        type: 'GET',
                        data: {
                            custom_param1: 'something',
                            custom_param2: 'somethingelse'
                        },
                        error: function () {
                            alert('there was an error while fetching events!');
                        }
                    }
                ]
            });
        };
        $(document).ready(function() {
            initFullCalendar();
        });
  });
    </script>
{% endblock %}