{% extends 'website/base.html' %}
{% block container %}
    <div class="header text-center">
        <h3 class="title">Barbearia Lucas Pontes</h3>
        <small class="category">Siga nosso perfil no
            <a target="new" href="https://www.instagram.com/barber_pontes/">Instagram</a>.
        </small>
    </div>
    <br />
    <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
            <div class="card card-calendar">
                <div class="card-body ">
                    <div id="fullCalendar"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script>
        function initFullCalendar() {
            $calendar = $('#fullCalendar');

            today = new Date();
            y = today.getFullYear();
            m = today.getMonth();
            d = today.getDate();

            $calendar.fullCalendar({
                monthNames: [
                    'Janeiro', 'Fevereiro', 'Março', 'Abril', 'Março', 'Junho', 'Julho',
                    'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'
                ],
                header: {
                    left: 'title',
                    center: 'month,agendaWeek,agendaDay',
                    right: 'prev,next,today'
                },
                defaultDate: today,
                selectable: true,
                selectHelper: true,
                // titleFormat: {
                //     month: 'MMMM YYYY', // September 2015
                //     week: "MMMM D YYYY", // September 2015
                //     day: 'D MMM, YYYY'  // Tuesday, Sep 8, 2015
                // },
                views: {
                    // week:{ titleFormat: "DD MMMM YYYY" },
                    monthmonth: {
                        titleFormat: 'MMMM YYYY'
                    }, // September 2015
                    week: {
                        titleFormat: "MMMM D YYYY"
                    }, // September 2015
                    day: {
                        titleFormat: 'D MMM, YYYY'
                    } // Tuesday, Sep 8, 2015
                },
                select: function (start, end) {

                    // on select we show the Sweet Alert modal with an input
                    swal({
                        title: 'Agendamento',
                        html:
                            '<form method="POST" action="http://localhost:8000/agenda/create">' +
                            '<input type="datetime-local" name="data_inicio"  placeholder="data" class="form-control" required />' +
                            '<br><select class="form-control" name="cabeleireiros" required>\n' +
                            '<option value="" selected disabled>Selecione um Cabeleireiro</option>' +
                            {% for cabele in cabeleireiros %}
                                '        <option value="{{cabele.pk}}">{{cabele.nome}}</option>\n' +
                            {% endfor %}
                            '    </select>' +
                            '<br><select class="form-control" name="produtos" required>\n' +
                            '<option value="" selected disabled>Selecione um Produto</option>' +
                            {% for prod in produtos %}
                                '        <option value="{{prod.pk}}">{{prod.nome}}</option>\n' +
                            {% endfor %}
                            '    </select>' +
                            '<br><select class="form-control" name="servicos" required>\n' +
                            '<option value="" selected disabled>Selecione um Serviço</option>' +
                            {% for serv in servicos %}
                                '        <option value="{{serv.pk}}">{{serv.nome}}</option>\n' +
                            {% endfor %}
                            '    </select>' +
                            '<br><div>' +
                            ' <br><button class="btn btn-success" type="subimit">'+
                            '</span>Cadastrar Agendamento'+
                            ' </button>'+
                            '</div>' +
                            '</form>',

                        showCancelButton: true,
                        closeOnConfirm: true
                    }, function () {

                        var eventData;
                        event_title = $('#swal').val();

                        if (event_title) {
                            eventData = {
                                title: event_title,
                                start: start,
                                end: end
                            };
                            $calendar.fullCalendar('renderEvent', eventData, true); // stick? = true
                        }

                        $calendar.fullCalendar('unselect');

                    });
                },
                editable: true,
                eventLimit: true, // allow "more" link when too many events


                // color classes: [ event-blue | event-azure | event-green | event-orange | event-red ]
                eventSources: [
                    {
                        url: '{% url 'website:get-data' %}',
                        type: 'GET',
                        data: {
                            custom_param1: 'something',
                            custom_param2: 'somethingelse'
                        },
                        error: function () {
                            alert('there was an error while fetching events!');
                        }
                    }
                ]
            });
        };
        $().ready(function() {
            initFullCalendar();
        });

    </script>
{% endblock %}