{% extends 'website/base.html' %}
{% load bootstrap4 %}
{% block container %}
    <form method="POST" action="create">
        {% csrf_token %}
        <h3 align="center"> Cadastrar Cliente</h3>
        {% bootstrap_form form %}
        <div class="form-group">

            <button class="btn btn-success" type="submit" href="cliente"> <span class="glyphicon glyphicon-add"></span>Cadastrar Cliente</button>
            <button class="btn btn-default" href="../cliente">Voltar</button>
        </div>
    </form>
{% endblock %}