{% extends 'website/base.html' %}
{% block container %}
<form method="POST" action="update/{{ clientes.id }}">
        {% csrf_token %}
    <h3 align="center"> Alterar Cliente</h3>

    <div class="form-group">
    <label>Nome </label>
    <input type="text" name="nome"  value="{{ clientes.NOME }}" placeholder="Nome" class="form-control" required />
    </br>
    <label>Apelido </label>
    <input type="text" name="apelido"  value="{{ clientes.APELIDO }}" placeholder="Apelido" class="form-control" required/>
    </br>
    <label>Senha </label>
    <input type="password" name="senha"  value="{{ clientes.SENHA }}" placeholder="Senha" class="form-control"required />
    </br>
    <label>E-mail </label>
    <input type="email" name="email"  value="{{ clientes.EMAIL }}" placeholder="E-mail" class="form-control"required />
    </br>
    <label>Celular </label>
    <input type="text" name="celular"  value="{{ clientes.CELULAR }}" placeholder="Celular" class="form-control"required />
        </br>
    <button class="btn btn-success" href="cliente"> <span class="glyphicon glyphicon-add"></span>Alterar Cliente</button>
        <a class="btn btn-default" href="../cliente">Voltar</a>
</div>
</form>
{% endblock %}