{% extends 'website/base.html' %}
{% block container %}
    {% if user.cabeleireiro and user.cabeleireiro.ativo %}
        <a class="btn btn-success" href="create"> <span class="glyphicon glyphicon-add"></span>Novo Cliente</a>
        <br/>
        <br/>
    {% endif %}
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th>Nome</th>
                <th>Apelido</th>
                <th>E-mail</th>
                <th>Celular</th>
                <th>Opções</th>
            </tr>
            </thead>
            <tbody>
            {% for cliente in clientes %}
                {% if cliente.id == user.cliente.id %}
                    <tr>
                        <td>{{ cliente.id }}</td>
                        <td>{{ cliente.nome }}</td>
                        <td>{{ cliente.apelido }}</td>
                        <td>{{ cliente.email }}</td>
                        <td>{{ cliente.celular }}</td>
                        <td class="td-actions" >
                            <button type="button"
                                    rel="tooltip"
                                    class="btn btn-info btn-sm"
                                    data-toggle="modal"
                                    data-target="#detalheModal"
                                    data-pk="{{ cliente.id }}"
                                    data-name="{{ cliente.nome }}"
                                    data-nick="{{ cliente.apelido }}"
                                    data-email="{{ cliente.email }}"
                                    data-tel="{{ cliente.celular }}">
                                <i class="fa fa-user"></i>
                            </button>
                            <button type="button"
                                    rel="tooltip"
                                    class="btn btn-success btn-sm"
                                    data-toggle="modal"
                                    data-target="#editModal"
                                    data-pk="{{ cliente.id }}"
                                    data-name="{{ cliente.nome }}">
                            <i class="fa fa-edit"></i>
                            </button>
                            {% if user.cabeleireiro and user.cabeleireiro.ativo %}
                                <button type="button"
                                        rel="tooltip"
                                        class="btn btn-danger btn-sm"
                                        data-toggle="modal"
                                        data-target="#deleteModal"
                                        data-pk="{{ cliente.pk }}"
                                        data-name="{{ cliente.nome }}">
                                    <i class="fa fa-times"></i>
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    {#    div para editar#}
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" id="formEdit">{% csrf_token %}
                        <p>Deseja editar o cliente?</p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button onclick="$('#formEdit').submit()" type="button" class="btn btn-success">Editar</button>
                </div>
            </div>
        </div>
    </div>
    {#    div para excluir#}
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" id="formDelete">{% csrf_token %}
                        <p>Deseja excluir o cliente?</p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button onclick="$('#formDelete').submit()" type="button" class="btn btn-danger">Excluir</button>
                </div>
            </div>
        </div>
    </div>
    {#    div detalhes#}
    <div class="modal fade" id="detalheModal" tabindex="-1" role="dialog" aria-labelledby="detalheModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> Detalhes do Cliente </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <h3 align="center" id="detalheModalLabel"></h3>

                    <form method="GET" id="formDetalhe">

                        <div class="form-group">
                            <label>Nick: </label>
                            <label id="detalheModalLabelNick"></label>
                            </br>
                            <label>E-mail: </label>
                            <label id="detalheModalLabelEmail"></label>
                            </br>
                            <label>Telefone: </label>
                            <label id="detalheModalLabelTel"></label>
                            </br>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button  type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ block.super }}
    <script>
        $('#editModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var pk = button.data('pk');
            var name = button.data('name');
            var modal = $(this);

            $('#editModalLabel').html(name);
            $('#formEdit').attr("action", "/cliente/edit/" + pk);
        })
    </script>
    <script>
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var pk = button.data('pk');
            var name = button.data('name');
            var modal = $(this);

            $('#deleteModalLabel').html(name);
            $('#formDelete').attr("action", "/cliente/deletar/" + pk);
        })
    </script>
    <script>
        $('#detalheModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var name = button.data('name');
            var nick = button.data('nick');
            var email = button.data('email');
            var tel = button.data('tel');
            var modal = $(this);

            $('#detalheModalLabel').html(name);
            $('#detalheModalLabelNick').html(nick);
            $('#detalheModalLabelEmail').html(email);
            $('#detalheModalLabelTel').html(tel);
        })
    </script>
{% endblock %}