<footer class="footer">
    <div class="container">
        <nav>
            <ul class="footer-menu">
                <li>
                    <a href="{% url 'website:index' %}">
                        Home
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/barber_pontes/">
                        Instagram
                    </a>
                </li>
{#                <li>#}
{#                    <a href="#">#}
{#                        Portfolio#}
{#                    </a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">#}
{#                        Blog#}
{#                    </a>#}
{#                </li>#}
            </ul>
            <p class="copyright text-center">
                © {% now 'Y' %} <a href="https://www.impacta.edu.br">Faculdade Impacta</a>, desenvolvido pelo grupo CheckTec
            </p>
        </nav>
    </div>
</footer>