<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
<!-- Canonical SEO -->
<link rel="canonical" href="https://www.creative-tim.com/product/light-bootstrap-dashboard-pro" />
<!--  Social tags      -->
<meta name="keywords" content="Sistema de agendamentos e compra de produtos da Barbearia Lucas Pontes, desenvolvido pelo grupo CheckTec.">
<meta name="description" content="Sistema de agendamentos e compra de produtos da Barbearia Lucas Pontes, desenvolvido pelo grupo CheckTec.">
<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Sistema de Agendamento PRO by CheckTec">
<meta itemprop="description" content="Sistema de agendamentos e compra de produtos da Barbearia Lucas Pontes, desenvolvido pelo grupo CheckTec.">
<meta itemprop="image" content="https://s3.amazonaws.com/creativetim_bucket/products/34/original/opt_lbd_pro_thumbnail.jpg">
<!-- Twitter Card data -->
<meta name="twitter:card" content="product">
<meta name="twitter:site" content="@creativetim">
<meta name="twitter:title" content="Sistema de Agendamento PRO by CheckTec">
<meta name="twitter:description" content="Sistema de agendamentos e compra de produtos da Barbearia Lucas Pontes, desenvolvido pelo grupo CheckTec.">
<meta name="twitter:creator" content="@creativetim">
<meta name="twitter:image" content="https://s3.amazonaws.com/creativetim_bucket/products/34/original/opt_lbd_pro_thumbnail.jpg">
<meta name="twitter:data1" content="Sistema de Agendamento PRO by CheckTec">
<meta name="twitter:label1" content="Product Type">
<meta name="twitter:data2" content="$39">
<meta name="twitter:label2" content="Price">
<!-- Open Graph data -->
<meta property="og:title" content="Sistema de Agendamento PRO by CheckTec" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://demos.creative-tim.com/light-bootstrap-dashboard-pro/examples/dashboard.html" />
<meta property="og:image" content="https://s3.amazonaws.com/creativetim_bucket/products/34/original/opt_lbd_pro_thumbnail.jpg" />
<meta property="og:description" content="Sistema de agendamentos e compra de produtos da Barbearia Lucas Pontes, desenvolvido pelo grupo CheckTec." />
<meta property="og:site_name" content="Creative Tim" />