{% load static %}
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
<!-- CSS Files -->
<link href="{% static 'website/assets/css/bootstrap.min.css' %}" rel="stylesheet" />
<link href="{% static 'website/assets/css/light-bootstrap-dashboard.css' %}" rel="stylesheet" />
<!-- CSS Just for demo purpose, don't include it in your project -->
<link href="{% static 'website/assets/css/demo.css' %}" rel="stylesheet" />