<ul class="nav">
    <li class="nav-item ">
        <a class="nav-link" href="{% url 'website:dashboard' %}">
            <i class="nc-icon nc-time-alarm"></i>
            <p>Calendário</p>
        </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="{% url 'website:indexAgendamento' %}">
            <i class="nc-icon nc-single-copy-04"></i>
            <p>Agenda</p>
        </a>
    </li>
    {% if user.cabeleireiro and user.cabeleireiro.ativo %}
        <li class="nav-item ">
            <a class="nav-link" href="{% url 'website:indexcabeleireiro' %}">
                <i class="nc-icon nc-scissors"></i>
                <p>cabeleireiros</p>
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="{% url 'website:indexCliente' %}">
                <i class="nc-icon nc-badge"></i>
                <p>Clientes</p>
            </a>
        </li>
{#        <li class="nav-item ">#}
{#            <a class="nav-link" href= "">#}
{#                <i class="nc-icon nc-notes"></i>#}
{#                <p>Estoque</p>#}
{#            </a>#}
{#        </li>#}
    {% endif %}
    <li class="nav-item ">
        <a class="nav-link" href="{% url 'website:indexProduto' %}">
            <i class="nc-icon nc-cart-simple"></i>
            <p>Produtos</p>
        </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="{% url 'website:indexServico' %}">
            <i class="nc-icon nc-paper-2"></i>
            <p>Serviços</p>
        </a>
    </li>
</ul>
