{% load static %}
<div class="user">
    <div class="photo">
        <img src="{% static 'website/assets/img/logo_off.jpg' %}" />
    </div>
    <div class="info ">
        <a data-toggle="collapse" href="#collapseExample" class="collapsed">
            <span>{{ user.cliente }} - {{ user.cabeleireiro }}
                <b class="caret"></b>
            </span>
        </a>
        <div class="collapse" id="collapseExample">
            <ul class="nav">
                <li>
                    <a class="profile-dropdown" href="{%  url 'website:perfilCliente' user.cliente.id %}">
                        <span class="sidebar-mini">MP</span>
                        <span class="sidebar-normal">Meu Perfil</span>
                    </a>
                </li>
                <li>
                    <a class="profile-dropdown" href="{%  url 'website:editCliente' user.cliente.id %}">
                        <span class="sidebar-mini">EP</span>
                        <span class="sidebar-normal">Editar Perfil</span>
                    </a>
                </li>
                <li>
                    <a class="profile-dropdown" href="{% url 'website:logout' %}">
                        <span class="sidebar-mini">S</span>
                        <span class="sidebar-normal">Sair</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>