{% extends 'website/base.html' %}
{% block container %}
    <form method="POST" action="create">
        {% csrf_token %}
        <h3 align="center"> Cadastrar Agendamento</h3>
        <div class="form-group">
            <label>Cliente </label>
            <select name="cliente" name="cliente" class="form-control" readonly="readonly" data-menu-style="dropdown-blue" data-style="btn-default btn-block" data-title="Selecione um Cliente">
                <option selected="selected"  value="{{ user.cliente.id }}">{{ user.cliente.nome }}</option>
            </select>
            </br>
            <label>Data Inicio </label>
            <input type="date" id="date" onload="getDate()" name="data" placeholder="data" class="form-control" required/>
            </br>
            <label>Hora </label>
            <select name="hora_inicio" class="form-control select" data-menu-style="dropdown-blue" data-style="btn-default btn-block" data-title="Selecione um Horario" required>
                <option value="09:00">09:00</option>
                <option value="09:30">09:30</option>
                <option value="10:00">10:00</option>
                <option value="10:30">10:30</option>
                <option value="11:00">11:00</option>
                <option value="11:30">11:30</option>
                <option value="12:00">12:00</option>
                <option value="12:30">12:30</option>
                <option value="13:00">13:00</option>
                <option value="13:30">13:30</option>
                <option value="14:00">14:00</option>
                <option value="14:30">14:30</option>
                <option value="15:00">15:00</option>
                <option value="15:30">15:30</option>
                <option value="16:00">16:00</option>
                <option value="16:30">16:30</option>
                <option value="17:00">17:00</option>
                <option value="17:30">17:30</option>
                <option value="18:00">18:00</option>
            </select>
            </br>
{#            <label>Serviços </label>#}
            <select multiple name="servico" class="selectpicker" data-menu-style="dropdown-blue" data-style="btn-default btn-block" data-title="Selecione um Serviço" required>
                {% for servico in servicos %}
                    <option value="{{ servico.id }}">{{ servico.nome}}</option>
                {% endfor %}
            </select>
            </br>
{#            <label>Produto </label>#}
            <select multiple name="produto" class="selectpicker" data-menu-style="dropdown-blue" data-style="btn-default btn-block" data-title="Selecione um Produto">
                {% for produto in produtos %}
                    <option value="{{ produto.id }}">{{ produto.nome}}</option>
                {% endfor %}
            </select>
            </br>
{#            <label>Cabeleireiro </label>#}
            <select name="cabeleireiro" class="selectpicker" data-menu-style="dropdown-blue" data-style="btn-default btn-block" data-title="Selecione um Cabeleireiro" required>
                {% for cabeleireiro in cabeleireiros %}
                    <option value="{{ cabeleireiro.id }}">{{ cabeleireiro.nome}}</option>
                {% endfor %}
            </select>
            </br>
            </br>
            <button class="btn btn-success" href="agenda"> <span class="glyphicon glyphicon-add"></span>Cadastrar Agendamento</button>
            <a class="btn btn-default" href="../agenda">Voltar</a>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <!--  Plugin for Date Time Picker and Full Calendar Plugin-->
    <script src="../../assets/js/plugins/moment.min.js"></script>
    <!--  DatetimePicker   -->
    <script src="../../assets/js/plugins/bootstrap-datetimepicker.js"></script>
    <!--  Bootstrap Select  -->
    <script src="../../assets/js/plugins/bootstrap-selectpicker.js" type="text/javascript"></script>
    <script>

        $(document).ready(function getDate(){
    var today = new Date();

    document.getElementById("date").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
        });
    </script>
{% endblock %}