{% extends 'website/base.html' %}
{% block container %}
    <form method="POST" action="create">
        {% csrf_token %}
        <h3 align="center"> Cadastrar Agendamento</h3>
        <div class="form-group">
            <label>Data Inicio </label>
            <input type="datetime-local" name="data_inicio" placeholder="data" class="form-control" required />
            </br>
            <label>Data Fim </label>
            <input type="datetime-local" name="data_fim" placeholder="data" class="form-control" required/></br>
            </br>
            <label>Produto </label>
            <select name="produto" class="selectpicker" data-menu-style="dropdown-blue" data-style="btn-default btn-block" data-title="Selecione um Produto">
                {% for produto in produtos %}
                    <option value="{{ produto.id }}">{{ produto.nome }}</option>
                {% endfor %}
            </select>

            </br>
            <label>Serviços </label>
            <select name="servico" class="selectpicker" data-menu-style="dropdown-blue" data-style="btn-default btn-block" data-title="Selecione um Serviço">
                {% for servico in servicos %}
                    <option value="{{ servico.id }}">{{ servico.nome}}</option>
                {% endfor %}
            </select>
            </br>

            <label>cabeleireiro </label>
            <select name="cabeleireiro" class="selectpicker" data-menu-style="dropdown-blue" data-style="btn-default btn-block" data-title="Selecione um cabeleireiro">
                {% for cabeleireiro in cabeleireiros %}
                    <option value="{{ cabeleireiro.id }}">{{ cabeleireiro.nome}}</option>
                {% endfor %}
            </select>
            </br>
            </br>
            <button class="btn btn-success" href="agenda"> <span class="glyphicon glyphicon-add"></span>Cadastrar Agendamento</button>
            <a class="btn btn-default" href="../agenda">Voltar</a>
        </div>
    </form>
{% endblock %}