{% extends 'website/base.html' %}
{% block container %}
<form method="POST" action="update/{{ agendamentos.id }}">
        {% csrf_token %}
    <h3 align="center"> Alterar Agendamento</h3>
    <div class="form-group">
    <label>Data </label>
    <input type="text" name="data" value= "{{ agendamentos.data }}" placeholder="data" class="form-control" required />
    </br>
    <label>Hora </label>
    <input type="time" name="hora" value="{{ agendamentos.HORA_INICIO }}" placeholder="hora" class="form-control" required/></br>
     <label>Clientes </label>
    <select name="cliente" class="selectpicker" data-menu-style="dropdown-blue" data-style="btn-default btn-block" data-title="Selecione um Cliente">
        {% for cliente in clientes %}
            {% if cliente.id == agendamentos.clientes.id %}
                <option value="{{ agendamentos.clientes.id }}" selected>{{ agendamentos.clientes.nome }}</option>
            {% else %}
                <option value="{{ cliente.id }}">{{ cliente.nome}}</option>
            {% endif%}
        {% endfor %}
    </select>
    </br>
        </br>
    <label>Serviços </label>
    <select name="servico" class="selectpicker" data-menu-style="dropdown-blue" data-style="btn-default btn-block" data-title="Selecione um Serviço">
        {% for servico in servicos %}
            {% if servico.id == agendamentos.servicos.id %}
                <option value="{{ agendamentos.servicos.id }}" selected>{{ agendamentos.servicos.nome }}</option>
            {% else %}
                <option value="{{ servico.id }}">{{ servico.nome }}</option>
            {% endif%}
        {% endfor %}
    </select>
        </br>
</br>
    <label>cabeleireiro </label>
    <select name="cabeleireiro" class="selectpicker" data-menu-style="dropdown-blue" data-style="btn-default btn-block" data-title="Selecione um cabeleireiro">
        {% for cabeleireiro in cabeleireiros %}
            {% if cabeleireiro.id == agendamentos.cabeleireiros.id %}
                <option value="{{ agendamentos.cabeleireiros.id }}" selected>{{ agendamentos.cabeleireiros.nome }}</option>
            {% else %}
                <option value="{{ cabeleireiro.id }}">{{ cabeleireiro.nome }}</option>
            {% endif%}
        {% endfor %}
    </select>
           </br>
        </br>
    <button class="btn btn-success" href="agenda"> <span class="glyphicon glyphicon-add"></span>Alterar Agendamento</button>
     <a class="btn btn-default" href="../agenda">Voltar</a>
</div>
</form>
{% endblock %}