{% extends 'website/base.html' %}
{% block container %}
<a class="btn btn-success" href="create"> <span class="glyphicon glyphicon-add"></span>Novo Agendamento</a>
<br/>
<br/>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th>Data </th>
                <th>Hora</th>
                <th>Cabeleleiro</th>
                <th>Cliente</th>
                <th>Serviço</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
              {% for agenda in agendamentos %}
            <tr>
                <td>{{ agenda.id }}</td>
                <td>{{ agenda.DATA }}</td>
                <td>{{ agenda.HORA_INICIO }}</td>
                <td>{{ agenda.CABELELEIROS.NOME }}
                <td>{{ agenda.CLIENTES.NOME }}</td>
                <td>{{ agenda.SERVICOS.NOME }}</td>
                <td class="td-actions" >
                    <a  type="button" rel="tooltip" title="Detalhes" class="btn btn-info btn-link btn-sm">
                        <i class="fa fa-user"></i>
                    </a>
                    <a href="edit/{{ agenda.id }}" type="button" rel="tooltip" title="Editar" class="btn btn-success btn-link btn-sm">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a href="deletar/{{ agenda.id }}" type="button" rel="tooltip" title="Remover" class="btn btn-danger btn-link btn-sm">
                        <i class="fa fa-times"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}