{% extends 'website/base.html' %}
{% block container %}
    <a class="btn btn-success" href="create"> <span class="glyphicon glyphicon-add"></span>Novo Agendamento</a>
    <br/>
    <br/>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th>Data</th>
                <th>Hora</th>
                <th>Cabeleireiro</th>
                <th>Serviços</th>
                <th>Produtos</th>
                {% if user.cabeleireiro and user.cabeleireiro.ativo %}
                    <th>Cliente</th>
                {% endif %}
                <th>Opções</th>
            </tr>
            </thead>
            <tbody>
            {% for agenda in agendamentos %}
                {% if agenda.clientes.id == user.cliente.id or agenda.cabeleireiros.id == user.cabeleireiro.id %}
                    <tr>
                        <td>{{ agenda.id }}</td>
                        <td>{{ agenda.data }}</td>
                        <td>{{ agenda.hora_inicio }}</td>
                        <td>{{ agenda.cabeleireiros.nome}}</td>
                        <td>{{ agenda.servicos.nome }}</td>
                        <td>{{ agenda.produtos.nome }}</td>
                        {% if agenda.cabeleireiros.id == user.cabeleireiro.id %}
                            <td>{{ agenda.clientes.nome }}</td>
                        {% endif %}
                        <td class="td-actions" >
                            <button type="button"
                                    rel="tooltip"
                                    class="btn btn-info btn-sm"
                                    data-toggle="modal"
                                    data-target="#detalheModal"
                                    data-pk="{{ agenda.id }}"
                                    data-name="{{ agenda.clientes.nome }}"
                                    data-date="{{ agenda.data }}"
                                    data-hor="{{ agenda.hora_inicio }}"
                                    data-cab="{{ agenda.cabeleireiros.nome }}"
                                    data-prod="{{ agenda.produtos.nome }}"
                                    data-serv="{{ agenda.servicos.nome }}"
                            >
                                <i class="fa fa-user"></i>
                            </button>
                            {#                            <a  type="button" rel="tooltip" title="Detalhes" class="btn btn-info btn-link btn-sm">#}
                            {#                                <i class="fa fa-user"></i>#}
                            {#                            </a>#}
                            <a href="edit/{{ agenda.id }}" type="button" rel="tooltip" title="Editar" class="btn btn-success btn-link btn-sm">
                                <i class="fa fa-edit"></i>
                            </a>
                            <button type="button"
                                    rel="tooltip"
                                    class="btn btn-danger btn-sm"
                                    data-toggle="modal"
                                    data-target="#deleteModal"
                                    data-pk="{{ agenda.id }}"
                                    data-name="{{ agenda.nome }}">
                                <i class="fa fa-times"></i>
                            </button>
                            {#                            <a href="deletar/{{ agenda.id }}" type="button" rel="tooltip" title="Remover" class="btn btn-danger btn-link btn-sm">#}
                            {#                                <i class="fa fa-times"></i>#}
                            {#                            </a>#}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    {#    div para excluir#}
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" id="formDelete">{% csrf_token %}
                        <p>Deseja excluir o agendamento do cliente?</p>
                        {#                        <input type="submit" value="Confirm">#}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button onclick="$('#formDelete').submit()" type="button" class="btn btn-danger">Excluir</button>
                </div>
            </div>
        </div>
    </div>
    {#    div detalhes#}
    <div class="modal fade" id="detalheModal" tabindex="-1" role="dialog" aria-labelledby="detalheModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detalheModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <h3 align="center"> Detalhes do Agendamento </h3><br>
                    <form method="GET" id="formDetalhe">

                        <div class="form-group">
                            <label>Data: </label>
                            <label id="detalheModalLabelData"></label>
                            </br>
                            <label>Hora: </label>
                            <label id="detalheModalLabelHor"></label>
                            </br>
                            <label>Serviços: </label>
                            <label id="detalheModalLabelServ"></label>
                            </br>
                            <label>Produtos: </label>
                            <label id="detalheModalLabelProd"></label>
                            </br>
                            <label>Cabeleireiro: </label>
                            <label id="detalheModalLabelCab"></label>
                            </br>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button  type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script>
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var pk = button.data('pk');
            var name = button.data('name');

            var modal = $(this);
            $('#deleteModalLabel').html(name);
            $('#formDelete').attr("action", "/agenda/deletar/" + pk);
        })
    </script>
    <script>
        $('#detalheModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var pk = button.data('pk');
            var name = button.data('name');
            var date = button.data('date');
            var cab = button.data('cab');
            var prod = button.data('prod');
            var hor = button.data('hor');
            var serv = button.data('serv');

            var modal = $(this);
            $('#detalheModalLabel').html(name);
            $('#detalheModalLabelData').html(date);
            $('#detalheModalLabelCab').html(cab);
            $('#detalheModalLabelServ').html(serv);
            $('#detalheModalLabelHor').html(hor);
            $('#detalheModalLabelProd').html(prod);

        })
    </script>
{% endblock %}