{% extends 'website/base.html' %}
{% block container %}
<form method="POST" action="update/{{ cabeleleiros.id }}">
        {% csrf_token %}
    <h3 align="center"> Alterar Cabeleleiro</h3>

    <div class="form-group">
    <label>Nome </label>
    <input type="text" name="nome"  value="{{ cabeleleiros.nome }}" placeholder="Nome" class="form-control" required />
    </br>
    <label>Senha </label>
    <input type="password" name="senha"  value="{{ cabeleleiros.senha }}" placeholder="Senha" class="form-control"required />
    </br>
    <label>E-mail </label>
    <input type="email" name="email"  value="{{ cabeleleiros.email }}" placeholder="E-mail" class="form-control"required />
    </br>
    <label>Celular </label>
    <input type="text" name="celular"  value="{{ cabeleleiros.celular }}" placeholder="Celular" class="form-control"required />
    </br>
    <button class="btn btn-success" href="cabeleleiro"> <span class="glyphicon glyphicon-add"></span>Alterar Cabeleleiro</button>
    <a class="btn btn-default" href="../cabeleleiro">Voltar</a>
</div>
</form>
{% endblock %}