{% extends 'website/base.html' %}
{% block container %}
<form method="POST" action="update/{{ cabeleireiros.id }}">
        {% csrf_token %}
    <h3 align="center"> Alterar cabeleireiro</h3>

    <div class="form-group">
    <label>Nome </label>
    <input type="text" name="nome"  value="{{ cabeleireiros.nome }}" placeholder="Nome" class="form-control" required />
    </br>
    <label>Senha </label>
    <input type="password" name="senha"  value="{{ cabeleireiros.senha }}" placeholder="Senha" class="form-control"required />
    </br>
    <label>E-mail </label>
    <input type="email" name="email"  value="{{ cabeleireiros.email }}" placeholder="E-mail" class="form-control"required />
    </br>
    <label>Celular </label>
    <input type="text" name="celular"  value="{{ cabeleireiros.celular }}" placeholder="Celular" class="form-control"required />
    </br>
    <button class="btn btn-success" href="cabeleireiro"> <span class="glyphicon glyphicon-add"></span>Alterar cabeleireiro</button>
    <a class="btn btn-default" href="../cabeleireiro">Voltar</a>
</div>
</form>
{% endblock %}